
/* body {
    font-family: "Roboto", sans-serif;
    background:#d2eaf1;
  } */
.left-side{
    float:left;
    width:20%;
    height:  100vh;
    background-color: rgb(98, 146, 235);
}
.notobota{
    list-style-type: none;
 
}
.class1{
    padding: 15px;
}
.search{
    margin-left: 15px;
    height: 30px;
    width: 80%;
    padding-left: 20px;
    
    
}
.icon{
    position: absolute;
    left: 20px;
    bottom: 6px;
}
.lock{
    padding-right: 10px;
}
.list{
    padding: 10px;
    
}
.name{
    padding: 10px;
}
.msg{
    padding: 8px;
}
.logout{
    padding: 30px;
}
.verticalbar{
    width:80%;
    float:right;
  background-color: rgb(202, 216, 255);
}
.bar{
    list-style-type: none;
    display: flex;
    float: right;
}
.shelby{
    float: left;
    text-decoration: none;
}
.star{
    position: relative;
}
.icon{
    position: absolute;
    left: 1px;
    top:12px;
    color: rgb(233, 86, 23);
}
.float-left{
    background-color: rgb(210, 243, 244);
    float:left;
    width: 40%;
    height: 100vh;
}
.float-right{
    background-color: rgb(246, 194, 142);
    float:left;
    float: right;
    width: 40%;
    height:100vh;
}
.box1{
    background-color: white;
    border-radius: 10px;
   
    height: 300px;
    width: 545px;
    margin: 10px;
    
}
.upgrate{
    height: 40px;
    width: 110px;
    background-color: rgb(242, 190, 94);
    border: none;
    border-radius: 5px;
    color: rgb(233, 86, 23);
}
 
 